/* DEBUG */

.ms_heightXS{
    min-height: 90px;
}

.ms_heightS{
    min-height: 500px;
}

.ms_heightM{
    min-height: 590px;
}

.ms_heightL{
    min-height: 850px;
}

.ms_height100{
    height: 100%;
}

/* .container {
    border: 1px solid black;
}

.row {
    border: 1px solid purple;
}

[class*="col"] {
    border: 1px dashed red;
}  */



.stellina::before, .stellina::after {
    content: "";
    display: block;
    height: 3px;
    width: 150px;
    border-radius: 100px;
}

.ms_stellinawhite::after, .ms_stellinawhite::before{
    background-color: white;
}

.ms_stellinablack::after, .ms_stellinablack::before{
    background-color: black;
}

/* HEADER */

.ms_bg_grey{
    background-color: rgb(33,47,62);
}

.ms_fontsize_p{
    font-size: 15px;
}

/* MAIN */

.ms_avatar{
    max-width: 230px;
}

.ms_h1{
    font-size: 45px;
}

.ms_bg_acqua{
    background-color: rgb(30,177,138);
}

.ms_portfolio_card{
    border-radius: 5px;
    overflow: hidden;
    min-height: 260px;
}

.ms_img{
    width: 100%;
}

.ms_testoabout{
    column-count: 2;
    column-gap: 1.5rem;
}

#section3 .container{
    max-width: 980px;
}

.ms_form{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    border-bottom: 1px solid lightgrey;
    color: black;
    padding-bottom: 15px;
}

.ms_send{
    border-top: 1px solid lightgray;
    width: 80%;
}

::placeholder{
    color: black;
}

/* FOOTER */

.ms_bg_lightblue{
    background-color: rgb(44,66,90);
}

.ms_textacqua{
    color: rgb(30,177,138);
}

.ms_br{
    border-radius: 50px;
}

footer h5{
    text-transform: uppercase;
}

footer button{
    width: 45px;
    height: 45px;
}

/* MEDIA QUERY */

@media screen and (max-width: 767px) {
    .ms_testoabout{
        column-count: 1;
    }
}