/* DEBUG */

.container {
    border: 1px solid black;
}

.ms_minheight{
    min-height: 200px;
}

.row {
    border: 1px solid purple;
}

[class*="col"] {
    border: 1px dashed red;
} 

/* HEADER */

.ms_uppercase{
    text-transform: uppercase;
}

.ms_bg_grey{
    background-color: rgb(33,47,62);
}

.ms_fontsize_p{
    font-size: 12px;
}

/* MAIN */

.ms_bg_acqua{
    background-color: rgb(30,177,138);
}